* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --tamaño-texto: 30px;
    --tamaño-titulo: 60px;
    --color-texto: #3C3D3C;
    --color-fondo: #931D1E;
    --color-contenedor: #931d1f61;
    --color-fondo2: #fff;
}

.pagina-principal {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contenedor-info-principal {
    width: 100%;
    background-color: var(--color-fondo2);
}

.enlaces {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
    animation: bajar 3s 2.8s;
}

@keyframes bajar{
    0%{
        position: relative;
        top: -100px;
    }
}
.enlaces a {
    text-transform: uppercase;

}

.contenedor-info-principal p {
    font-size: var(--tamaño-texto);
    color: var(--color-texto);
}

.titulo {
    font-size: var(--tamaño-titulo);
    color: var(--color-fondo);
}

.contenedor-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 100px;
}

.contenedor-tarjetas {
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 745px;
    background-color: var(--color-fondo);
    justify-content: center;
    align-items: center;
    border-top-right-radius: 50px;
    animation: subir 3s 2.8s;
}

@keyframes subir{
    0%{
        position: relative;
        bottom: -320px;
    }
    100%{
        position: relative;
        bottom: 0px;
    }
}

.tarjeta {
    display: flex;
    align-items: center;
    width: 220px;
    height: 295px;
    background-color: var(--color-contenedor);
    border-radius: 20px;
}

.contenedor-info-secundaria {
    width: 100%;
    background-color: aquamarine
}

.pagina-cargando {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100vh;
    background-color: antiquewhite;
    animation: desaparecer 3s forwards;
}

@keyframes desaparecer{
    0%{
        visibility: visible;
    }
    90%, 100%{
        visibility: hidden;
    }
}

.puntos {
    width: 50px;
    height: 50px;
    background-color: var(--color-fondo);
    border-radius: 50%;
    animation-name: palpitar;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes palpitar{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.puntos:nth-child(1) {
    animation-delay: 0s;
}

.puntos:nth-child(2) {
    animation-delay: 0.5s;
}

.puntos:nth-child(3) {
    animation-delay: 1s;
}

.contenedor-info-secundaria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "blanco imagen imagen texto";
   animation: desplazar 3s 2.8;
}

@keyframes desplazar{
    0%{
        position: relative;
        right: -300px;
    }
    100%{
        position: relative;
        right: 0px;
    }
}

.imagen-vengador {
    width: 100%;
    grid-area: imagen;
    align-self: center;
}

.texto-imagen {
    width: 100%;
    grid-area: texto;
    transform: rotate(-90deg);
    align-self: flex-end;
    margin-bottom: 80px;
    font-size: var(--tamaño-texto);
    color: var(--color-fondo);
}

.fondo{
    grid-column: 3/6;
    grid-row: 1/2;
    background-color: aquamarine;
}

.pagina-modal{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-color: #3535356e;
}

.modal{
    width: 50%;
    height: 50%;
    background-color: #3535356e;
    display: flex;
    justify-content: center;
    align-items: center;
}